  <div class="footer-box"></div>
        <footer class="footer-strip">
            <h6>i acknowledge the woi wurrung and boon wurrung people of the kulin nations as the traditional owners of the land that i am privileged to be able to code and weave on.</h6>
            <h5>ps. my email is over here too just incase<br>
                <a href="mailto:daisyalexandrawatt@gmail.com">daisyalexandrawatt@gmail.com</a>
            </h5>
        </footer>
    </div>