 <nav class="vertical-menu">
    <%= link_to "d a i s y _ w a t t", root_path, class: "main-tab" %>
    <%= link_to "about", about_path %>
    <%= link_to "feed", feed_path %>
    <%= link_to "contact", contact_path %>
    
 </nav>

