<article class="about-card">
    <%= image_tag "/images/daisyatloom-rhys-pope.jpg", class: "image-about", alt: "daisy at loom photo by rhys pope" %>
        <section id="about-text">
                <h3>words from me</h3>
                    <p> Others in the textile industry often joke that us weavers are the coders of fabric. We create outcomes through the process of building then layering rows of sequence. What I’ve found in my time specializing in woven textiles is that I find myself frustrated by the imitations/restrictions that the software we use in industry vs the actual scope for potential outcomes. I guess you can almost argue I have always been interested in coding by pure nature of the practice of a weaver.
                        <br>
                                I am the daughter of a computer operator, my father has been working in IT now for over 40 years. I have memories as a child playing with spare computer parts as toys around the home then growing up in a home were the computer wasn’t a scary inaccessible thing, ive always felt comfortable engaging with it. As a teenager and young adult I never would have thought that my creative work had anything to do with “tech” but here we are, it only took turning 27 and a global pandemic.<br>
                    </p>
                        <a href="https://www.linkedin.com/in/daisy-watt-a76558198/" alt="linkedin">linkedin</a>
                        <a href="https://www.instagram.com/daisy_watt/" alt="instagram">instagram</a>
                        <a href="https://twitter.com/daisy_watt" alt="twitter">twitter</a>
                        <a href="https://github.com/daisy-watt" alt="github">github</a>
                            <h6>‘The Analytical Engine weaves algebraic patterns just as the Jacquard loom weaves flowers and leaves' – Ada Lovelace</h6>
                                <a href="images/2021-CV-DaisyWatt.pdf" download>download my CV</a>
        </section>
</article>