<div class="pagewrap">
        <p>perhaps you've been looking around on here and havent quite found what you need, if you are looking for something specific perhaps come over here...</p> 
                <!-- text/poem -->
                <!-- <section class="contact-stuff"> -->
        <imput>if its easier, you can just send me a little msg here</imput>
    <div class="row">
            <div class="poem-window">
                <textarea id="subject" name="subject" placeholder="you could write me a poem or just leave a message" style="height:200px"></textarea>
            </div>
    </div>
<div class="row">
    <input type="submit" value="Submit">
</div>
