 <body>
        <div class="pagewrap">
            <!-- interacctive element will go but image for now -->
            <div id="main-image">
                <%= image_tag "/images/digitalweave_green.jpg", class: "project-image", alt: "digital green twill weave" %>
            </div>
                <main>
                    <div id="large-txt-body">
                        <p> I'm a just weaver who's learning to code, blame it on my obssession with the jacquard loom. I've been leanring, working and teaching in the textile industry since I was 17.  </p>
                    </div>
                </main>
            </div>
</body>